<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Header -->
<header class="header header--type-8 js-header">
    <!-- Container -->
    <div class="container container--type-5">
        <!-- Header container -->
        <div class="header__container d-flex align-items-center">
            <!-- Logo -->
            <h1 class="header__logo">
                <a href="index.html">
                    UTERO
                </a>
            </h1>
            <!-- End logo -->

            <!-- Navigation -->
            <ul class="header__nav">
                <li>
                    <a href="/web/index.html" class="nav__item">Home</a>
                </li>
                <li>
                    <a href="/web/shop-4.html" class="nav__item nav__item--current">Shop</a>
                    <!-- MegaMenu -->
                    <div class="nav__mega-menu">
                        <!-- Column -->
                        <div class="mega-menu__standard-column">
                            <!-- Column nav -->
                            <ul class="standard-column__nav">
                                <li><a href="#">Clothings</a></li>
                                <li><a href="#">Shoes</a></li>
                                <li><a href="#">Bags</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                            <!-- End column nav -->
                        </div>
                        <!-- End column -->
                    </div>
                    <!-- End MegaMenu -->
                </li>
                <li>
                    <a href="#" class="nav__item">Pages</a>
                    <!-- MegaMenu -->
                    <div class="nav__mega-menu">
                        <!-- Column -->
                        <div class="mega-menu__standard-column">
                            <!-- Column nav -->
                            <ul class="standard-column__nav">
                                <li><a href="about.html">About</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="faq.html">Faq</a></li>
                            </ul>
                            <!-- End column nav -->
                        </div>
                        <!-- End column -->
                    </div>
                    <!-- End MegaMenu -->
                </li>
            </ul>
            <!-- End navigation -->

            <!-- Header right -->
            <ul class="header__right">
                <li>
                    <a href="#" class="js-open-popup-search"
                    ><i class="lnil lnil-search-alt"></i
                    ></a>
                </li>
                <li>
                    <a href="account.html"><i class="lnil lnil-user"></i></a>
                </li>
                <li class="header__cart">
                    <a href="cart.html"
                    ><i class="lnil lnil-cart"></i><span>2</span>
                        <p class="header-cart__price">$225.00</p></a
                    >
                    <!-- Header cart -->
                    <div class="header-cart">
                        <!-- Cart items -->
                        <ul class="header-cart__items">
                            <!-- Item -->
                            <li class="cart-item d-flex">
                                <!-- Item image -->
                                <p class="cart-item__image">
                                    <a href="product.html">
                                        <img
                                                alt="Image"
                                                data-sizes="auto"
                                                data-srcset="/web-assets/products/1/10a.jpg 400w,
                        /web-assets/products/1/10a.jpg 800w"
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                class="lazyload lazy-effect"
                                        />
                                    </a>
                                </p>
                                <!-- End item image -->
                                <!-- Item details -->
                                <p class="cart-item__details">
                                    <a href="product.html" class="cart-item__title"
                                    >Slim fit modal cotton shirt</a
                                    >
                                    <span class="cart-item__variant">Grey, M</span>
                                    <span class="cart-ietm__price">2 <i>x</i> $113.99</span>
                                </p>
                                <!-- End item details -->
                                <!-- Item delete -->
                                <p class="cart-item__delete">
                                    <a href="#"><i class="lnil lnil-close"></i></a>
                                </p>
                                <!-- Item delete -->
                            </li>
                            <!-- End item -->

                            <!-- Item -->
                            <li class="cart-item d-flex">
                                <!-- Item image -->
                                <p class="cart-item__image">
                                    <a href="product.html">
                                        <img
                                                alt="Image"
                                                data-sizes="auto"
                                                data-srcset="/web-assets/products/1/11a.jpg 400w,
                        /web-assets/products/1/11a.jpg 800w"
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                class="lazyload lazy-effect"
                                        />
                                    </a>
                                </p>
                                <!-- End item image -->
                                <!-- Item details -->
                                <p class="cart-item__details">
                                    <a href="product.html" class="cart-item__title"
                                    >Suede sport shoes</a
                                    >
                                    <span class="cart-item__variant">Bold Brown, 40</span>
                                    <span class="cart-ietm__price">1 <i>x</i> $45.5</span>
                                </p>
                                <!-- End item details -->
                                <!-- Item delete -->
                                <p class="cart-item__delete">
                                    <a href="#"><i class="lnil lnil-close"></i></a>
                                </p>
                                <!-- Item delete -->
                            </li>
                            <!-- End item -->

                            <!-- Item -->
                            <li class="cart-item d-flex">
                                <!-- Item image -->
                                <p class="cart-item__image">
                                    <a href="product.html">
                                        <img
                                                alt="Image"
                                                data-sizes="auto"
                                                data-srcset="/web-assets/products/1/12a.jpg 400w,
                        /web-assets/products/1/12a.jpg 800w"
                                                src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                                class="lazyload lazy-effect"
                                        />
                                    </a>
                                </p>
                                <!-- End item image -->
                                <!-- Item details -->
                                <p class="cart-item__details">
                                    <a href="product.html" class="cart-item__title"
                                    >Pebbled crossbody belt bag</a
                                    >
                                    <span class="cart-ietm__price">1 <i>x</i> $129.99</span>
                                </p>
                                <!-- End item details -->
                                <!-- Item delete -->
                                <p class="cart-item__delete">
                                    <a href="#"><i class="lnil lnil-close"></i></a>
                                </p>
                                <!-- Item delete -->
                            </li>
                            <!-- End item -->
                        </ul>
                        <!-- End cart items -->

                        <!-- Subtotal -->
                        <div class="header-cart__subtotal d-flex">
                            <!-- Title -->
                            <div class="subtotal__title">Subtotal</div>
                            <!-- End title -->
                            <!-- Value -->
                            <div class="subtotal__value">$272.47</div>
                            <!-- End value -->
                        </div>
                        <!-- End subtotal -->

                        <!-- Header cart action -->
                        <div class="header-cart__action">
                            <a
                                    href="checkout.html"
                                    class="header-cart__button header-cart__button--checkout"
                            >Checkout</a
                            >
                            <a href="cart.html" class="header-cart__button"
                            >View cart</a
                            >
                        </div>
                        <!-- End Header cart action -->
                    </div>
                    <!-- End header cart -->
                </li>
                <li class="header__canvas-menu">
                    <a href="#" class="js-open-sidebar-contact"
                    ><i class="lnil lnil-menu"></i
                    ></a>
                </li>
            </ul>
            <!-- End header right -->
        </div>
        <!-- End header container -->
    </div>
    <!-- End container -->
</header>
<!-- End header -->

<!-- Sidebar contact -->
<div class="sidebar-contact js-sidebar-contact">
    <!-- Background -->
    <div class="sidebar-contact__background js-close-sidebar-contact"></div>
    <!-- End background -->
    <!-- Content -->
    <div class="sidebar-contact__content">
        <!-- Close -->
        <div class="sidebar-contact__close"><a href="#" class="js-close-sidebar-contact"><i class="lnil lnil-close"></i></a>
        </div>
        <!-- End close -->
        <!-- Section -->
        <div class="sidebar-contact__section">
            <!-- Title -->
            <h6 class="sidebar-contact-section__title">Contact</h6>
            <!-- End title -->
            <!-- Item -->
            <div class="sidebar-contact-section__item d-flex">
                <!-- Icon -->
                <div class="sidebar-contact-section-item__icon"><i class="lnil lnil-map-marker"></i></div>
                <!-- End icon -->
                <!-- Text -->
                <div class="sidebar-contact-section-item__text">
                    No. Rosecrans Ave, Suite 200 El Segundo, CA 90245. USA
                </div>
                <!-- End text -->
            </div>
            <!-- End item -->
            <!-- Item -->
            <div class="sidebar-contact-section__item d-flex">
                <!-- Icon -->
                <div class="sidebar-contact-section-item__icon">
                    <i class="lnil lnil-phone-ring"></i>
                </div>
                <!-- End icon -->
                <!-- Text -->
                <div class="sidebar-contact-section-item__text">
                    Call: +1 (202) 861-5567
                </div>
                <!-- End text -->
            </div>
            <!-- End item -->
            <!-- Item -->
            <div class="sidebar-contact-section__item d-flex">
                <!-- Icon -->
                <div class="sidebar-contact-section-item__icon"><i class="lnil lnil-message-edit"></i></div>
                <!-- End icon -->
                <!-- Text -->
                <div class="sidebar-contact-section-item__text">
                    Email: support@demo.com
                </div>
                <!-- End text -->
            </div>
            <!-- End item -->
        </div>
        <!-- End section -->
        <!-- Section -->
        <div class="sidebar-contact__section">
            <!-- Title -->
            <h6 class="sidebar-contact-section__title">Connect on Social</h6>
            <!-- End title -->
            <!-- Socials -->
            <ul class="sidebar-contact-section__socials">
                <li><a href="https://twitter.com/" target="_blank"><i class="lnil lnil-twitter"></i></a></li>
                <li><a href="https://facebook.com/" target="_blank"><i class="lnil lnil-facebook"></i></a></li>
                <li><a href="https://instagram.com/" target="_blank"><i class="lnil lnil-Instagram"></i></a></li>
            </ul>
            <!-- End socials -->
        </div>
        <!-- End section -->
    </div>
    <!-- End content -->
</div>
<!-- End sidebar contact -->

</body>
</html>