<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- Search popup -->
<div class="search-popup js-search-popup">
    <!-- Search close -->
    <div class="search-popup__close">
        <a href="#" class="js-close-search-popup"><i class="lnil lnil-close"></i></a>
    </div>
    <!-- End search close -->
    <!-- Container -->
    <div class="container">
        <!-- Search categories -->
        <ul class="search-popup__categories">
            <li><a href="#" class="active">All</a></li>
            <li><a href="#">Clothings</a></li>
            <li><a href="#">Shoes</a></li>
            <li><a href="#">Bags</a></li>
            <li><a href="#">Accessories</a></li>
        </ul>
        <!-- End search categories -->
        <!-- Search form -->
        <form class="search-popup__form">
            <!-- Search input -->
            <input type="text" class="search-popup__input" placeholder="Search here..."/>
            <!-- End search input -->
        </form>
        <!-- End search form -->
        <!-- Search results -->
        <div class="search-popups__results">
            <!-- Results heading -->
            <h6 class="search-popup__results-heading">Search results</h6>
            <!-- End results heading -->
            <!-- Results -->
            <div class="search-popups__results-products d-flex">
                <!-- Product -->
                <div class="product-grid-item">
                    <!-- Tag -->
                    <div class="product-grid-item__tag product-grid-item__tag--sold-out">Sold out</div>
                    <!-- End tag -->
                    <!-- Wishlist -->
                    <div class="product-grid-item__wishlist"><a href="#"><i class="lnil lnil-heart"></i></a></div>
                    <!-- End wishlist -->
                    <!-- Image -->
                    <div class="product-grid-item__image">
                        <a href="product.html">
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/6a.jpg 400w,
                    /web-assets/products/1/6a.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect"/>
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/6b.jpg 400w,
                    /web-assets/products/1/6b.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect hover"/>
                        </a>
                        <!-- Action -->
                        <div class="product-grid-item__action d-flex">
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Add to cart</a></div>
                            <!-- End button -->
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Quick shop</a></div>
                            <!-- End button -->
                        </div>
                        <!-- End action -->
                    </div>
                    <!-- End image -->
                    <!-- Title -->
                    <div class="product-grid-item__title"><a href="product.html">Basic T-shitt with slogan</a></div>
                    <!-- End title -->
                    <!-- Price -->
                    <div class="product-grid-item__price">
                        $32.5
                    </div>
                    <!-- End price -->
                </div>
                <!-- End product -->
                <!-- Product -->
                <div class="product-grid-item">
                    <!-- Wishlist -->
                    <div class="product-grid-item__wishlist"><a href="#"><i class="lnil lnil-heart"></i></a></div>
                    <!-- End wishlist -->
                    <!-- Image -->
                    <div class="product-grid-item__image">
                        <a href="product.html">
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/13a.jpg 400w,
                    /web-assets/products/1/13a.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect"/>
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/13b.jpg 400w,
                    /web-assets/products/1/13b.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect hover"/>
                        </a>
                        <!-- Action -->
                        <div class="product-grid-item__action d-flex">
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Add to cart</a></div>
                            <!-- End button -->
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Quick shop</a></div>
                            <!-- End button -->
                        </div>
                        <!-- End action -->
                    </div>
                    <!-- End image -->
                    <!-- Title -->
                    <div class="product-grid-item__title"><a href="product.html">Chrome acetate sunglasses</a></div>
                    <!-- End title -->
                    <!-- Rating -->
                    <div class="product-grid-item__rating">
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <span>3 reviews</span>
                    </div>
                    <!-- End rating -->
                    <!-- Price -->
                    <div class="product-grid-item__price">
                        $72.9
                    </div>
                    <!-- End price -->
                </div>
                <!-- End product -->
                <!-- Product -->
                <div class="product-grid-item">
                    <!-- Tag -->
                    <div class="product-grid-item__tag">10% off</div>
                    <!-- End tag -->
                    <!-- Wishlist -->
                    <div class="product-grid-item__wishlist"><a href="#"><i class="lnil lnil-heart"></i></a></div>
                    <!-- End wishlist -->
                    <!-- Image -->
                    <div class="product-grid-item__image">
                        <a href="product.html">
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/2_1-a.jpg 400w,
                    /web-assets/products/1/2_1-a.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect"/>
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/2_1-b.jpg 400w,
                    /web-assets/products/1/2_1-b.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect hover"/>
                        </a>
                        <!-- Action -->
                        <div class="product-grid-item__action d-flex">
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Add to cart</a></div>
                            <!-- End button -->
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Quick shop</a></div>
                            <!-- End button -->
                        </div>
                        <!-- End action -->
                    </div>
                    <!-- End image -->
                    <!-- Title -->
                    <div class="product-grid-item__title"><a href="product.html">Zipped cotton cardigan</a></div>
                    <!-- End title -->
                    <!-- Price -->
                    <div class="product-grid-item__price">
                        <span class="price-new">$49.5</span>
                        <span class="price-old">$68.5</span>
                    </div>
                    <!-- End price -->
                    <!-- Tag -->
                    <div class="product-grid-item__content-tag">2 colours</div>
                    <!-- End tag -->
                </div>
                <!-- End product -->
                <!-- Product -->
                <div class="product-grid-item">
                    <!-- Wishlist -->
                    <div class="product-grid-item__wishlist"><a href="#"><i class="lnil lnil-heart"></i></a></div>
                    <!-- End wishlist -->
                    <!-- Image -->
                    <div class="product-grid-item__image">
                        <a href="product.html">
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/1b.jpg 400w,
                    /web-assets/products/1/1b.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect"/>
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/1c.jpg 400w,
                    /web-assets/products/1/1c.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect hover"/>
                        </a>
                        <!-- Action -->
                        <div class="product-grid-item__action d-flex">
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Add to cart</a></div>
                            <!-- End button -->
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Quick shop</a></div>
                            <!-- End button -->
                        </div>
                        <!-- End action -->
                    </div>
                    <!-- End image -->
                    <!-- Title -->
                    <div class="product-grid-item__title"><a href="product.html">Crew neck cotton sweatshirt</a></div>
                    <!-- End title -->
                    <!-- Rating -->
                    <div class="product-grid-item__rating">
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <span>3 reviews</span>
                    </div>
                    <!-- End rating -->
                    <!-- Price -->
                    <div class="product-grid-item__price">
                        $79.9
                    </div>
                    <!-- End price -->
                </div>
                <!-- End product -->
                <!-- Product -->
                <div class="product-grid-item">
                    <!-- Wishlist -->
                    <div class="product-grid-item__wishlist"><a href="#"><i class="lnil lnil-heart"></i></a></div>
                    <!-- End wishlist -->
                    <!-- Image -->
                    <div class="product-grid-item__image">
                        <a href="product.html">
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/3a.jpg 400w,
                    /web-assets/products/1/3a.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect"/>
                            <img
                                    alt="Image"
                                    data-sizes="auto"
                                    data-srcset="/web-assets/products/1/3b.jpg 400w,
                    /web-assets/products/1/3b.jpg 800w"
                                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                                    class="lazyload lazy-effect hover"/>
                        </a>
                        <!-- Action -->
                        <div class="product-grid-item__action d-flex">
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Add to cart</a></div>
                            <!-- End button -->
                            <!-- Button -->
                            <div class="product-grid-item__button"><a href="#">Quick shop</a></div>
                            <!-- End button -->
                        </div>
                        <!-- End action -->
                    </div>
                    <!-- End image -->
                    <!-- Title -->
                    <div class="product-grid-item__title"><a href="product.html">Brown nubuck leather high-top deck
                        shoes</a></div>
                    <!-- End title -->
                    <!-- Rating -->
                    <div class="product-grid-item__rating">
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled active"></i>
                        <i class="lnir lnir-star-filled"></i>
                        <span>1 review</span>
                    </div>
                    <!-- End rating -->
                    <!-- Price -->
                    <div class="product-grid-item__price">
                        $149.5
                    </div>
                    <!-- End price -->
                    <!-- Tag -->
                    <div class="product-grid-item__content-tag">3 colours</div>
                    <!-- End tag -->
                </div>
                <!-- End product -->
            </div>
            <!-- End results -->
            <!-- Results action -->
            <div class="search-popup__results-action">
                <a href="#" class="button">All results (12)</a>
            </div>
            <!-- End results actions -->
        </div>
        <!-- End search results -->
    </div>
    <!-- End container -->
</div>
<!-- End search popup -->
</body>
</html>