<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout/layout :: main-layout(~{:: title},~{:: #css},~{:: .content-wrapper},~{:: #js})}">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Detail Product</title>

    <th:block id="css">
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css"/>

        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css"/>
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">

    </th:block>


</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">


    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="/admin/product">Product </a>
                            </li>
                            <li class="breadcrumb-item active">
                                Thực hành làm ứng dụng Meal Finder API
                                với Javascript (Phần 2)
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-default">
                            <i class="fas fa-chevron-left"></i> Back
                        </button>
                        <button type="button" class="btn btn-info px-4" id="btn-update">
                            Update
                        </button>
                        <!--                        <button type="button" class="btn btn-primary px-4">-->
                        <!--                            Preview-->
                        <!--                        </button>-->
                    </div>

                    <div class="col-6 d-flex justify-content-end">
                        <!--                        <button type="button" class="btn btn-danger px-4">-->
                        <!--                            Xóa-->
                        <!--                        </button>-->
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table class="table table-bordered table-hover" id="table-product">
                                    <thead>
                                    <tr>
                                        <th>Name Product</th>
                                        <th>Image</th>
                                        <th>Quality</th>
                                        <th>Color</th>
                                        <th>Size</th>
                                        <th>Total Price</th>
                                        <th>Update At</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="orderDetail : ${orderDetails}">
                                        <td>
                                            <a th:text="${orderDetail.variant.product.name}">Khai
                                                giảng
                                                khóa
                                            </a>
                                        </td>
                                        <td th:text="${orderDetail.variant.product.imageUrlPrimary}"></td>

                                        <td th:text="${orderDetail.quantity}">
                                            Java, Golang, Springboot
                                        </td>

                                        <td th:text="${orderDetail.variant.color.nameColor}">Công khai</td>
                                        <td th:text="${orderDetail.variant.size.sizeName}">Công khai</td>
                                        <td th:text="${orderDetail.price}">
                                            Java, Golang, Springboot
                                        </td>
                                        <td th:text="${#temporals.format(orderDetail.updatedAt, 'dd/MM/yyyy')}">
                                            06-07-2022
                                        </td>


                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="modal fade" id="modal-xl" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Extra Large Modal</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>One fine body…</p>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<th:block id="js">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/admin-assets/plugins/jquery-validation/additional-methods.min.js"></script>
    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script>
        //Initialize Select2 Elements
        $(".select2").select2();

        //validate form
        // Validate form
        $('#form-update-product').validate({
            rules: {
                name: {
                    required: true
                },
                description: {
                    required: true
                },
                discount: {
                    number: true
                },
                material: {
                    required: true
                },
                price: {
                    number: true,
                    required: true
                },
                status: {
                    required: true
                },

                category: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: 'Tên sản phẩm không được để trống'
                },

                description: {
                    required: 'Mô tả không được để trống'
                },
                material: {
                    required: 'Vật liệu không được để trống'
                },
                price: {
                    number: 'Giá phải là số',
                    required: 'Giá không được để trống'
                },
                discount: {
                    number: 'Giảm giá phải là số'
                },
                status: {
                    required: 'Trạng thái không được để trống'
                },
                category: {
                    required: 'Thể loại không được để trống'
                }
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    </script>


</th:block>
<script>
    const orderDetail = [[${orderDetail}]];

    // In ra đối tượng orderDetail trong console
    console.log(orderDetail);

    // In giá trị từng thuộc tính của orderDetail (nếu bạn muốn)
    console.log("Product Name: ", orderDetail.variant.product.name);
    console.log("Quantity: ", orderDetail.quantity);
    console.log("Color: ", orderDetail.variant.color.nameColor);
    console.log("Size: ", orderDetail.variant.size.sizeName);
    console.log("Total Price: ", orderDetail.totalPrice);
    console.log("Updated At: ", orderDetail.updatedAt);
</script>

</body>

</html>